/* System Messages */
html {
  margin: 0em;
  padding: 0em;
}
body {
  margin: 0em;
  padding: 0em;
  /*background-image: url('../includes/images/baseline-24px.gif');*/

}
div#container {
  margin: 0em;
  padding: 0em;
}
div.centered {
  width: 1024px;
  margin: 0em auto 5em auto;
}
div.row {
  clear: both;
  overflow: hidden;
}
/* column classes */
.column1,
.column2,
.column3,
.column4,
.column5,
.column6 {
  margin: 0% 1.17188%%;
  padding: 0%;
  float: left;
  /*background-color: rgba(255, 0, 255, 0.1);*/

}
.column1 {
  width: 13.93229167%;
}
.column2 {
  width: 30.20833333%;
}
.column3 {
  width: 46.484375%;
}
.column4 {
  width: 62.7604167%;
}
.column5 {
  width: 79.03645833%;
}
.column6 {
  width: 95.3125%;
}
/* span classes */
.span1 {
  margin-left: 7.03125%;
}
.span2 {
  margin-left: 13.28125%;
}
.span3 {
  margin-left: 19.53125%;
}
.span4 {
  margin-left: 25.78125%;
}
.span5 {
  margin-left: 38.28125%;
}
/* background colors */
.bkgd-primary {
  background-color: #e1e3e0;
}
.bkgd-primary p {
  /*color: @color-white;*/

}
.padded {
  padding: 0px 14px;
  padding: 0rem 1.4rem;
}
.rounded {
  border-radius: 0.5em;
}
.fail,
.error {
  background-color: #f05136;
}
.success,
.confirmation {
  background-color: #83b13b;
}
.fail,
.success {
  /*background-color: @color-gray-lighter;*/

  margin-bottom: 24px;
}
.fail p,
.success p {
  font-weight: 700;
  color: #ffffff;
  padding: 14px 0px 10px 0px;
  padding: 1.4rem 0rem 1.0rem 0rem;
}
/* margin classes */
/* top */
.margin-top-zero {
  margin-top: 0em !important;
}
.margin-top-half {
  margin-top: 1.2rem !important;
}
.margin-top-one {
  margin-top: 2.4rem !important;
}
.margin-top-two {
  margin-top: 4.8rem !important;
}
.margin-top-three {
  margin-top: 7.2rem !important;
}
/* right */
.margin-right-zero {
  margin-right: 0em !important;
}
.margin-right-half {
  margin-right: 0.5em !important;
}
.margin-right-one {
  margin-right: 1em !important;
}
.margin-right-two {
  margin-right: 2em !important;
}
.margin-right-three {
  margin-right: 3em !important;
}
.margin-right-four {
  margin-right: 4em !important;
}
.margin-right-five {
  margin-right: 5em !important;
}
.margin-right-six {
  margin-right: 6em !important;
}
/* bottom */
.margin-bottom-zero {
  margin-bottom: 0em !important;
}
.margin-bottom-half {
  margin-bottom: 0.5em !important;
}
.margin-bottom-one {
  margin-bottom: 2.4rem !important;
}
.margin-bottom-two {
  margin-bottom: 2em !important;
}
.margin-bottom-three {
  margin-bottom: 3em !important;
}
.margin-bottom-four {
  margin-bottom: 4em !important;
}
.margin-bottom-five {
  margin-bottom: 5em !important;
}
.margin-bottom-six {
  margin-bottom: 6em !important;
}
/* left */
.margin-left-zero {
  margin-left: 0em !important;
}
.margin-left-half {
  margin-left: 0.5em !important;
}
.margin-left-one {
  margin-left: 1em !important;
}
.margin-left-two {
  margin-left: 2em !important;
}
.margin-left-three {
  margin-left: 3em !important;
}
.margin-left-four {
  margin-left: 4em !important;
}
.margin-left-five {
  margin-left: 5em !important;
}
.margin-left-six {
  margin-left: 6em !important;
}
/* padding classes */
/* top */
.padding-top-zero {
  padding-top: 0em !important;
}
.padding-top-half {
  padding-top: 0.5em !important;
}
.padding-top-one {
  padding-top: 1em !important;
}
.padding-top-two {
  padding-top: 2em !important;
}
.padding-top-three {
  padding-top: 3em !important;
}
.padding-top-four {
  padding-top: 4em !important;
}
.padding-top-five {
  padding-top: 5em !important;
}
.padding-top-six {
  padding-top: 6em !important;
}
/* right */
.padding-right-zero {
  padding-right: 0em !important;
}
.padding-right-half {
  padding-right: 0.5em !important;
}
.padding-right-one {
  padding-right: 1em !important;
}
.padding-right-two {
  padding-right: 2em !important;
}
.padding-right-three {
  padding-right: 3em !important;
}
.padding-right-four {
  padding-right: 4em !important;
}
.padding-right-five {
  padding-right: 5em !important;
}
.padding-right-six {
  padding-right: 6em !important;
}
/* bottom */
.padding-bottom-zero {
  padding-bottom: 0em !important;
}
.padding-bottom-half {
  padding-bottom: 0.5em !important;
}
.padding-bottom-one {
  padding-bottom: 1em !important;
}
.padding-bottom-two {
  padding-bottom: 2em !important;
}
.padding-bottom-three {
  padding-bottom: 3em !important;
}
.padding-bottom-four {
  padding-bottom: 4em !important;
}
.padding-bottom-five {
  padding-bottom: 5em !important;
}
.padding-bottom-six {
  padding-bottom: 6em !important;
}
/* left */
.padding-left-zero {
  padding-left: 0em !important;
}
.padding-left-half {
  padding-left: 0.5em !important;
}
.padding-left-one {
  padding-left: 1em !important;
}
.padding-left-two {
  padding-left: 2em !important;
}
.padding-left-three {
  padding-left: 3em !important;
}
.padding-left-four {
  padding-left: 4em !important;
}
.padding-left-five {
  padding-left: 5em !important;
}
.padding-left-six {
  padding-left: 6em !important;
}
/* Mobile */
@media only screen and (max-width: 640px) {
  html {
    /*border-top: 4px solid #f00;*/
  
  }
  div.centered {
    width: 100%;
  }
  .column1,
  .column2,
  .column3,
  .column4,
  .column5,
  .column6 {
    margin: 0%;
    padding: 0%;
    float: none;
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  html {
    /*border-top: 4px solid #0f0;*/
  
  }
  div.centered {
    width: 100%;
  }
}
/* Desktop */
@media only screen and (min-width: 1025px) {
  html {
    /*border-top: 4px solid #00f;*/
  
  }
  div.centered {
    width: 1024px;
  }
}
