a {
	/*padding-bottom: 0.1rem;*/
	border-bottom: 0.1rem solid fade(@color-black, 50%);
	color: @color-black;
	text-decoration: none;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 24px;
	line-height: 2.4rem;
}

a:hover {
	border-bottom: 0.1rem solid saturate(@color-blue, 20%);
	color: saturate(@color-blue, 20%);
}

cite a {
	/*padding-bottom: 0.2rem;*/
	border-bottom: 0.1rem solid fade(@color-gray, 50%);
	color: @color-gray;
}

cite a:hover {
	border-bottom: 0.1rem solid @color-black;
	color: @color-black;
}