html {
	font-size: 62.5%;
	/*background-image: url('../images/baseline-25.png');*/
}

body {
	/*background-size: 1px;*/
	color: gray;
	font-family: "ff-sero-web",sans-serif;
	font-style: normal;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
	color: @color-black;
	margin: 0px 0px 17px 0px;
	margin: 0rem 0rem 1.7rem 0rem;
	padding: 0px 0px 0px 0px;
	padding: 0rem 0rem 0rem 0rem;
}
h1 {
	color: @color-black;
	margin: 0px 0px 8px 0px;
	margin: 0rem 0rem 0.8rem 0rem;
	padding: 0px 0px 0px 0px;
	padding: 0rem 0rem 0rem 0rem;
}

h1 {
	padding-top: 14px;
	padding-top: 1.4rem; /* 44 - 32 */
	font-size: 30px; /* IE 7-8 Hack */
	font-size: 3.0rem;
	line-height: 44px;
	line-height: 4.4rem;
}

h2 {
	color: @color-black;
	margin: 0px 0px 12px 0px;
	margin: 0rem 0rem 1.2rem 0rem;
	padding: 0px 0px 0px 0px;
	padding: 0rem 0rem 0rem 0rem;
}

h2 {
	padding-top: 18px;
	padding-top: 1.8rem; /* 44 - 32 */
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 33px;
	line-height: 3.3rem;
}

h3 {
	color: @color-black;
	margin: 0px 0px 10px 0px;
	margin: 0rem 0rem 1.0rem 0rem;
	padding: 0px 0px 0px 0px;
	padding: 0rem 0rem 0rem 0rem;
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 33px;
	line-height: 3.3rem;
}

h4, h5, p, blockquote {
	padding-top: 8px;
	padding-top: 0.8rem;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 25px;
	line-height: 2.5rem;
}

h6 {
	padding-top: 8px;
	padding-top: 0.8rem;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 22px;
	line-height: 2.2rem;
	font-weight: 700;
}

h2 {
	border-top: 0.3rem solid @color-black;
	font-weight: 700;
}

h4, h5 {
	font-family: "ff-sero-sc-web",sans-serif;
	font-style: normal;
	text-transform: lowercase;
	letter-spacing: 0.2rem;
}

h4 {
	font-weight: 700;
	/*color: @color-gray-light;*/
}

h5 {
	font-weight: 300;
	/*color: @color-gray-light;*/
}

blockquote {
  border-left: 0.3rem solid @color-gray;
  margin: 0.0rem 0.0rem 0.0rem 0.0rem;
  padding: 0.0rem 2.2rem 2.2rem 2.2rem;
  color: @color-black;
  background-color: fade(@color-gray, 10%);
  font-style: italic;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}

blockquote footer {
	display: block;
	padding-top: 5px;
	padding-top: 0.5rem;
	border-top: 0.1rem dotted @color-gray;
}

cite {
	
}

strong{
	font-weight: 700;
}
em {
	font-style: italic;
}